<p id="notice"><%= notice %></p>

<h1>Listing Pins</h1>
  <div class="row">
    <% @pins.each do |pin| %>
    
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag(pin.photo) %>
          <div class="caption">
            <h3><%= pin.description %></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nam, repudiandae praesentium veniam corrupti minima iure nisi.</p>
            <p>
              <%= link_to 'Show', pin, :class => 'btn btn-default btn-sm' %>
              <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn btn-default btn-sm' %>
              <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-sm' %>
            </p>
          </div>
        </div>
      </div>
    
    <% end %>
  </div>
  <br>
<%= link_to 'New Pin', new_pin_path %>
